@media only screen and (orientation: landscape) and (min-width : 1024px) {
    nav.push-menu-right {
    right: -300px
}
body.pmr-open nav.push-menu-right {
    right: 0
}
body.pmr-open #wrapper {
    left: -300px
}
}
@media only screen and (orientation: portrait), only screen and (orientation: landscape) and (max-width: 1023px){
section
{
    background-attachment: scroll;
    background-position: center center;
}
section.photo
{
    padding-top: 35%;
}
.hr-up,.hr-down
{
    width: 50%;
}
.page-title:hover .hr-up, .page-title:hover .hr-down
{
    width: 70%;
}
nav.push-menu-right {
    top: -100%;
    width: 100%;
}
body.pmr-open nav.push-menu-right {
    top: 0;
}
.brand
{
    padding-left: 0px;
}
.close-menu-btn
{
    padding-right: 0px;
}
.pmr-open
{
    overflow: hidden;
}
}
@media screen and (max-width: 1980px)
{
    .page-title{
            font-size: 3.5em;
    }
}
@media screen and (max-width: 480px) {
  section.photo
  {
      padding-top: 40%;
  }
    .page-title
  {
      font-size: 2.2em;
      
  }
}
 @media screen and (min-width: 640px) and (max-width: 800px) {
  section.photo
  {
      padding-top: 60%;
  }
  .page-title
  {
      font-size: 3em;
      
  }
  .carousel-indicators
  {
      bottom: -3em;
  }
} @media screen and (max-width: 800px) and (orientation: landscape) {
  section.photo
  {
      padding-top: 10%;
  }
    .page-title
  {
      font-size: 2.2em;
      
  }
  
}
@media (min-width: 1200px){
.page-title .visible-lg {
display: inline !important;
}
}
