* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 21px;
}
main {
    display: block;
}
section {
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    position: relative;
    color: #dad6be;
    padding-top: 15%;
}
.subpage-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
}
@-webkit-keyframes ScrollRoad66 {
    0% {
        opacity: 0.6;
   }
   25% {
       opacity: 0.9;
  }
  50% {
      opacity: 0.6;
 }
 75% {
     opacity: 0.3;
}
100% {
    opacity: 0.6;
}
}
@-moz-keyframes ScrollRoad66 {
    0% {
        opacity: 0.6;
   }
   25% {
       opacity: 0.9;
  }
  50% {
      opacity: 0.6;
 }
 75% {
     opacity: 0.3;
}
100% {
    opacity: 0.6;
}
}
@-o-keyframes ScrollRoad66 {
    0% {
        opacity: 0.6;
   }
   25% {
       opacity: 0.9;
  }
  50% {
      opacity: 0.6;
 }
 75% {
     opacity: 0.3;
}
100% {
    opacity: 0.6;
}
}
@keyframes ScrollRoad66 {
    0% {
        opacity: 0.6;
   }
   25% {
       opacity: 0.9;
  }
  50% {
      opacity: 0.6;
 }
 75% {
     opacity: 0.3;
}
100% {
    opacity: 0.6;
}
}
@-webkit-keyframes ScrollRoad33 {
    0% {
        opacity: 0.3;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.9;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.3;
}
}
@-moz-keyframes ScrollRoad33 {
    0% {
        opacity: 0.3;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.9;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.3;
}
}
@-o-keyframes ScrollRoad33 {
    0% {
        opacity: 0.3;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.9;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.3;
}
}
@keyframes ScrollRoad33 {
    0% {
        opacity: 0.3;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.9;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.3;
}
}
@-webkit-keyframes ScrollRoad99 {
    0% {
        opacity: 0.9;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.3;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.9;
}
}
@-moz-keyframes ScrollRoad99 {
    0% {
        opacity: 0.9;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.3;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.9;
}
}
@-o-keyframes SScrollRoad99 {
    0% {
        opacity: 0.9;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.3;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.9;
}
}
@keyframes ScrollRoad99 {
    0% {
        opacity: 0.9;
   }
   25% {
       opacity: 0.6;
  }
  50% {
      opacity: 0.3;
 }
 75% {
     opacity: 0.6;
}
100% {
    opacity: 0.9;
}
}
.srcoll-down-bar {
    margin-bottom: 5%;
}
.srcoll-down-bar > div {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.srcoll-down-bar > div: last-child {
    -webkit-animation-name: ScrollRoad33;
    -moz-animation-name: ScrollRoad33;
    -o-animation-name: ScrollRoad33;
    animation-name: ScrollRoad33;
}
.srcoll-down-bar > div: nth-child(2) {
    -webkit-animation-name: ScrollRoad66;
    -moz-animation-name: ScrollRoad66;
    -o-animation-name: ScrollRoad66;
    animation-name: ScrollRoad66;
}
.srcoll-down-bar > div:first-child {
    -webkit-animation-name: ScrollRoad99;
    -moz-animation-name: ScrollRoad99;
    -o-animation-name: ScrollRoad99;
    animation-name: ScrollRoad99;
}
.menu-top {
    background-color: rgba(26, 26, 26, 0.25);
}
#menu-right {
    position: fixed;
}
.stdbtn, .go-up {
    border: 4px solid #FFF;
    color: #DAD6BE;
}
.stdbtn {
    border-radius: 12px;
    padding: 15px 43px;
}
.go-up {
    border-radius: 12px;
    padding: 12px 15px;
    position: fixed;
    bottom: 10px;
    right: 23px;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    transition: all 0.3s linear;
}
.hr-up, .hr-down {
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    border: 2px solid #FFF;
    width: 25%;
    margin: 0px auto;
}
.page-title:hover .hr-up, .page-title:hover .hr-down {
    width: 35%;
    border-color: #DAD6BE;
}

.page-title {
    font-size: 3.571em;
    padding: 0px;
    width: 100%;
}
.stdbtn:hover, .stdbtn:focus, .go-up:hover {
    border: 4px solid #dad6be;
    color: #FFF;
    text-decoration: none;
}
.center-content, .page-title {
    text-align: center;
}
.pusher {
    transition: all 0.5s linear;
}
.pushed {
    transition: padding 0.5s linear;
    padding-right: 320px;
}
#menu-right {
    background-color: #1a1a1a;
    height: 100%;
    right: 0px;
    width: 320px;
    /*transition: all 0.5s linear;*/
}
.pushed #menu-right {
    /*transition: all 0.5s linear;*/
}
#menu-right ul {
    border-bottom: solid 1px #2f2f2f;
    border-top: solid 1px #2f2f2f;
    list-style: none;
}
#menu-right li {
    border-top: solid 1px #2f2f2f;
}
#menu-right li:hover {
    background-color: #242424;
    color: white;
}
#menu-right a {
    color: #515151;
    display: block;
    width: 100%;
}
#menu-right span {
    padding: 12px 12px 12px 64px;
}
#menu-right a:hover {
    color: white;
    text-decoration: none;
}
#menu-right li:first-child a {
    text-align: right;
    padding: 9px;
}
#menu-right li:first-child:hover {
    background-color: #1a1a1a;
}
.menu-top {
    transition: margin 0.5s linear;
}
.pushed .menu-top {
    margin-right: 320px;
}
.pushed .st-content:before {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
}
.st-content {
    position: relative;
    transition: all 0.5s linear;
}
.st-content:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    z-index: 0;
}
ul#menu-right-social-media {
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    width: 100%;
}
ul#menu-right-social-media li {
    border-top: none;
    display: inline-block;
    padding: 0px 6px;
    text-align: center;
    width: 23%;
}
ul#menu-right-social-media li:hover {
    background-color: #1a1a1a;
}
ul#menu-right-social-media span {
    padding: 0px;
}
.page-title {
    position: absolute;
    top: 30%;
}
.page-title .hr-up {
    margin-bottom: 10px;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -12px;
}
p#show-menu-btn {
    padding: 10px 15px;
    margin-bottom: 0px;
}
.pushed .go-up {
    right: 310px;
}
/*==========  icons  ==========*/

.icon {
    background-repeat: no-repeat;
    display: block;
    padding-left: 24px;
    background-position: 24px center;
}
.icon-only {
    width: 24px;
    height: 24px;
    padding: 0px;
    display: inline-block;
    background-position: center center;
}
.icon-about {
    background-image: url(../images/sidebar/about_us.png);
}
.icon-about:hover {
    background-image: url(../images/sidebar/about_us_action.png);
}
.icon-landing {
    background-image: url(../images/sidebar/landing.png);
}
.icon-landing:hover {
    background-image: url(../images/sidebar/landing_action.png);
}
.icon-projects {
    background-image: url(../images/sidebar/projects.png);
}
.icon-projects:hover {
    background-image: url(../images/sidebar/projects_action.png);
}
.icon-journal {
    background-image: url(../images/sidebar/journal.png);
}
.icon-journal:hover {
    background-image: url(../images/sidebar/journal_action.png);
}
.icon-contact {
    background-image: url(../images/sidebar/contact.png);
}
.icon-contact:hover {
    background-image: url(../images/sidebar/contact_action.png);
}
.icon-kickstart {
    background-image: url(../images/sidebar/kickstart_project.png);
}
.icon-kickstart:hover {
    background-image: url(../images/sidebar/kickstart_project_action.png);
}
.icon-twitter {
    background-image: url(../images/sidebar/twitter.png);
}
.icon-twitter:hover {
    background-image: url(../images/sidebar/twitter_action.png);
}
.icon-facebook {
    background-image: url(../images/sidebar/facebook.png);
}
.icon-facebook:hover {
    background-image: url(../images/sidebar/facebook_action.png);
}
.icon-github {
    background-image: url(../images/sidebar/github.png);
}
.icon-github:hover {
    background-image: url(../images/sidebar/github_action.png);
}
.icon-gooogle-plus {
    background-image: url(../images/sidebar/google_plus.png);
}
.icon-gooogle-plus:hover {
    background-image: url(../images/sidebar/google_plus_action.png);
}
/*==========  end of icons  ==========*/
