/*==========  custom backgrounds  ==========*/

#landing-home {
    background-image: url('../images/landing/landing_dark.jpg');
}
#landing-projects {
    background-image: url('../images/landing/projects_dark.jpg');
}
#landing-about-us {
    background-image: url('../images/landing/about_us_dark.jpg');
}
#landing-meet-us {
    background-image: url('../images/landing/contact_dark.jpg');
}
#landing-planner {
    background-image: url('../images/landing/kickstart_dark.jpg');
}
#landing-journal
{
	background-image: url('../images/landing/journal_dark.jpg');
}
/*==========  end of custom backgrounds  ==========*/


/*==========  bootstrap carousel customization  ==========*/

/* Reset of the default carousel indicators background */

/*==========  end of bootstrap carousel customization  ==========*/