#umowiony {
    background-image: url(../images/projects/umowiony_dark.jpg)
}
#zielony-solar {
    background-image: url(../images/projects/zielony_solar_dark.jpg)
}
#sellbox {
    background-image: url(../images/projects/sellbox_dark.jpg)
}
#local-bitcoins {
    background-image: url(../images/projects/local_btc_small_dark.jpg);
}
#all4btc {
    background-image: url(../images/projects/all4btc_small_dark.jpg);
}
#win-lose-bitcoins {
    background-image: url(../images/projects/minefield_small_dark.jpg);
}
#bitcoins {
    padding-top: 0px;
}
#bitcoins p {
}
.page-title-small {
    font-size: 1.6em;
    font-weight: bold;
}
.page-title-extra-small {
    font-size: 1em;
    font-weight: bold;
}

.page-title-one-third {
    padding-top: 7%;
    padding-bottom: 7%;
    position: static;
    width: 33.333%;
    background-size: cover;
}
