#send-us-your-project-plan
{
	background-image: url(../images/project-planner/project_planer_dark.jpg);
}
#project-plan-form h3 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}
#project-plan-form p {
    font-weight: 200;
    font-size: 0.8em;
    text-align: center;
}
#project-plan-form hr {
    border-color: #1a1a1a;
    border-width: 2px;
    margin: 0 auto 20px auto;
    width: 20%;
}
.underline {
    text-decoration: underline;
}
.light-gray {
    color: #c7c7c7;
}
.bold {
    font-weight: bold;
}
.light {
    font-weight: 200;
}
#project-plan-form-form {
    color: #1a1a1a;
    text-align: center;
}
#project-plan-form p {
    margin: -10px 0 10px 0;
    font-size: 0.8em;
}
#project-plan-form input:focus{
        /*border-color: solid 1px black;*/
}
#project-plan-form input{
        width: 100%;
}
#project-plan-form textarea{
    width: 100%;
}
#project-plan-form input, #project-plan-form textarea {
    padding: 0.5em;
    border: solid 2px #C7C7C7;
    font-size: 0.8em;
    border-radius: 0px;
}
#project-plan-form .has-error input, #project-plan-form .has-error textarea {
    padding: 0.5em;
    border: solid 2px #a94442;
    font-size: 0.8em;
}

.extra-padding {
    padding-bottom: 2%;
}
.form-group
{
    margin-bottom: 25px;
}
.full-width
{
	width:100% !important;
}
select
{
    font-size: 0.8em;
    color: rgb(117,117,117);
    padding: 0 0.3em;
    border: solid 2px #c7c7c7;
}
.styled-select
{
overflow: hidden;
width: 100%;
border: solid 2px #c7c7c7;
background: no-repeat 97%  url(../images/project-planner/arrow_down.png);
}
.styled-select:hover
{
 box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.styled-select select {
   background: transparent;
   border: none;
   width: 110%;
   -webkit-appearance: none;
   outline: none;
   }
select option
{
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    /*width: 80%;*/
    overflow: hidden;
    padding: .3em;      
}